<form action="" novalidate name="form">
    <div class="row">
        <div class="col-md-6">
            <article class="panel panel-primary">
                <header class="panel-heading">
                    <h1 class="h3">
                        Customer
                    </h1>
                </header>
                <section class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="first_name">First Name</label>
                                <input type="text" name="first_name" value="Bob"
                                    class="form-control" ng-model="customer.first_name"
                                    required>
                                <p class="help-block" ng-messages="form.first_name.$error">
                                    <span ng-message="required">First Name is required</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="last_name">Last Name</label>
                                <input type="text" name="last_name" value="Jones"
                                    class="form-control" ng-model="customer.last_name"
                                    required>
                                <p class="help-block" ng-messages="form.last_name.$error">
                                    <span ng-message="required">Last Name is required</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="username">Username</label>
                                <div class="input-group">
                                    <div class="input-group-addon">@</div>
                                    <input type="text" name="username" value="bobert123"
                                        class="form-control" ng-model="customer.username"
                                        required>
                                    <p class="help-block" ng-messages="form.username.$error">
                                        <span ng-message="required">Username is required</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{
                        'has-error': form.email.$invalid && form.email.$dirty,
                        'has-success': form.email.$valid && form.email.$touched
                    }">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" name="email" value="bobbyj@somewhere.net"
                               class="form-control" ng-model="customer.email"
                               required>
                        <p class="help-block" ng-messages="form.email.$error">
                            <span ng-message="required">Email is required</span>
                            <span ng-message="email">Email must look like an email</span>
                        </p>
                    </div>
                </section>
                <footer class="panel-footer">
                    <label for="joined">Joined</label> 12/13/2014
                </footer>
            </article>

            <article class="panel panel-default">
                <header class="panel-heading">
                    <h2 class="h4">
                        Shipping Address
                    </h2>
                </header>
                <section class="panel-body">
                    <div class="form-group">
                        <label class="sr-only" for="street-address">
                            Street Address
                        </label>
                        <input type="text" name="shippingStreet" value="123 Any St"
                            class="form-control" ng-model="customer.shipping_street"
                            required>
                        <p class="help-block" ng-messages="form.shippingStreet.$error">
                            <span ng-message="required">Street is required</span>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="city">City</label>
                                <input type="text" name="shippingCity" value="Washington"
                                    class="form-control" ng-model="customer.shipping_city"
                                    required>
                                <p class="help-block" ng-messages="form.shippingCity.$error">
                                    <span ng-message="required">City is required</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="sr-only" for="state">State</label>
                                <input type="text" name="shippingState" value="DC"
                                    class="form-control" ng-model="customer.shipping_state"
                                    required pattern="[A-Z][A-Z]">
                                <p class="help-block" ng-messages="form.shippingState.$error">
                                    <span ng-message="required">State is required</span>
                                    <span ng-message="pattern">State must look like a two letter state code</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback" ng-class="{
                                'has-error': form.shippingZip.$invalid && form.shippingZip.$dirty,
                                'has-success': form.shippingZip.$valid && form.shippingZip.$touched
                            }">
                                <label class="sr-only" for="zip">Zip</label>
                                <input type="text" name="shippingZip" value="20001"
                                    class="form-control" ng-model="customer.shipping_zipcode"
                                    required pattern="\d\d\d\d\d">
                                <p class="help-block" ng-messages="form.shippingZip.$error">
                                    <span ng-message="required">Zip is required</span>
                                    <span ng-message="pattern">Zip must be five digits</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>

        <div class="col-md-6">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h2 class="h4">
                        Billing Info
                    </h2>
                </header>
                <section class="panel-body">
                    <article ng-controller="CustomerCreditCardController"
                             ng-init="setCardholderId(customerId)">
                        <div class="row">
                            <div ng-if="!creditCard.$resolved">
                                <div class="col-md-10 col-md-offset-1">
                                    <aside class="progress">
                                        <div class="progress-bar progress-bar-striped active"
                                             style="width: 100%">
                                            Loading...
                                        </div>
                                    </aside>
                                </div>
                            </div>
                            <div ng-if="creditCard.$resolved">
                                <div class="col-md-7">
                                    <p class="h4">
                                        ****-****-****-{{ creditCard.lastFour }}
                                        <span class="label label-success">
                                            {{ creditCard.cardType }}
                                        </span>
                                    </p>
                                    <p>
                                        <label>Expires</label>
                                        {{ creditCard.expirationMonth }}/{{ creditCard.expirationYear }}
                                    </p>
                                </div>
                                <div class="col-md-5 text-right">
                                    <a href="{{creditCard.detailsLink}}"
                                    class="btn btn-lg btn-default">
                                        View Details...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="well well-sm">
                        <h1 class="h5">
                            Billing Address
                            <small>
                                <input type="checkbox"> Same as shipping?
                            </small>
                        </h1>
                        <div class="form-group">
                            <label class="sr-only" for="street-address">
                                Street Address
                            </label>
                            <input type="text" name="billingStreet" value="123 Any St"
                                class="form-control" ng-model="customer.billing_street"
                                required>
                            <p class="help-block" ng-messages="form.billingStreet.$error">
                                <span ng-message="required">Street is required</span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="city">City</label>
                                    <input type="text" name="billingCity" value="Washington"
                                        class="form-control" ng-model="customer.billing_city"
                                        required>
                                    <p class="help-block" ng-messages="form.billingCity.$error">
                                        <span ng-message="required">City is required</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="sr-only" for="state">State</label>
                                    <input type="text" name="billingState" value="DC"
                                        class="form-control" ng-model="customer.billing_state"
                                        required pattern="[A-Z][A-Z]">
                                    <p class="help-block" ng-messages="form.billingState.$error">
                                        <span ng-message="required">State is required</span>
                                        <span ng-message="pattern">State must look like a two letter state code</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="zip">Zip</label>
                                    <input type="text" name="billingZip" value="20001"
                                        class="form-control" ng-model="customer.billing_zipcode"
                                        required pattern="\d\d\d\d\d">
                                    <p class="help-block" ng-messages="form.billingZip.$error">
                                        <span ng-message="required">Zip is required</span>
                                        <span ng-message="pattern">Zip must be five digits</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </article>
            <div class="text-right">
                <button ng-click="save()"
                        class="btn btn-lg btn-primary"
                        ng-disabled="form.$invalid || form.$pristine">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</form>